# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Large backup files
public/hero-sequence/hero_original_backup.mp4
dr-ali-salehi-final-build-journal.pdf

# Local Netlify folder
.netlify
pentest-report-dr-salehi.pdf
public/hero-sequence/hero_sparse_backup.mp4
public/hero-sequence/hero_36mb_backup.mp4
public/hero-sequence/hero_1080p_hq.mp4
public/hero-sequence/hero_1080p_g15.mp4
public/hero-sequence/hero_1080p_crf26.mp4
public/hero-sequence/hero_1080p_g5.mp4
public/hero-sequence/hero_1080p_g3.mp4
public/hero-sequence/hero_1080p_backup.mp4
public/hero-sequence/hero_scrub.mp4
